<template>
    <div>
        <Button v-on:click="askPermission">
            Ask permission
        </Button>
    </div>
</template>

<script>
import { askForPermissioToReceiveNotifications } from '@/push-notification';
export default {
    name: "ButtonFireBase",
    methods :{
        askPermission: () => {
            askForPermissioToReceiveNotifications();
        }
    }
    
}
</script>