<template>
  <div class="home">
    <img alt="Vue logo" src="../assets/logo.png">
    <HelloWorld msg="Welcome to Your Vue.js App"/>
    <ButtonFireBase/>
  </div>
</template>

<script>
// @ is an alias to /src
import HelloWorld from '@/components/HelloWorld.vue'
import ButtonFireBase from  '@/components/ButtonFireBase.vue'

export default {
  name: 'home',
  components: {
    HelloWorld,
    ButtonFireBase
  }
}
</script>
